.input {
  background-color: #e9ecf1;
  color: #383f4a;
  padding: 0.25rem 1rem;
  border-radius: 6px;
  border: 0px;
  box-sizing: border-box;
}
.formError {
  border: red 2px solid;
  &:focus {
    border: 0px;
  }
}
.errorMessages {
  color: red;
}
