@import 'theme/_helpers';

.small {
  padding: 5px;
  margin: 0 0px 0px 0px;
  font-size: 12px;
  min-height: 80px;
  max-height: 80px;
  max-width: 250px;
  .contentSection {
    word-break: break-all;
    //display: flex;
    //.cardLabel{
    //}

    white-space: nowrap;
    span.text {
    //  white-space: nowrap;
    //  text-overflow: ellipsis;
    //  overflow: hidden;
    //  display: inline-block;
    //  width: 70%;
    }
  }
  .smallHeader {
    h2 {
      @include rems(16);
    }
    padding-bottom: 0 !important;
  }
}
.cardLabel{
  font-weight: bold;
}
.content {
  width: 100%;

  .profilePic {
    width: 50px;
  }
}
.imageLink {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75px;
  width: 75px;
  margin: 10px;
  cursor: pointer;
}
.progressCircleContainer {
  width: 20%;
  max-width: 150px;
  min-width: 100px;
  padding: 1rem;
}
.chartAndInfoContainer {
  display: flex;
  flex-wrap: wrap;

  @include mq(m) {
    flex-wrap: nowrap;
  }

}
.infoContainer {
  width: 80%;
}
.request-card {
  padding: 2rem;
  min-width: 250px;
  max-width: 550px;
  width: 250px;

  @include mq(m) {
    min-width: 350px;
    max-width: 550px;
    width: 550px;
  }

  &.error {

  }
  &.transcribing {

  }
}
.desktopOnly {
  display: none;
  flex-direction: column; 
  @include mq(m) {
    display: flex;
  }
}
.nextStepCtn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
}
