@import 'theme/_helpers';

.word {

  &:hover {
    background-color: $light-purple-gray;
  }
}
.warning {
  background-color: #f5d46b;
}
.confident {
  // nothing
}
.lowConfidence {
  background-color: #fff3cd;
}
.failing {
  background-color: red; //TODO change
}
.abysmal {
  background-color: darkred; //TODO change
}

