@import 'theme/_helpers';

.word {

  &:hover {
    background-color: $light-purple-gray;
  }
}
.lowConfidence {
  background-color: #fff3cd;
}
.veryLowConfidence {
  background-color: red; //TODO change
}

