@import 'theme/_helpers';

// modal stuff
.modal {
  background: rgba(120, 120, 120, 0.7);
  display: block !important;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modalDialog {
  padding-bottom: 30px;
  box-sizing: border-box;
  position: relative;
  width: auto;
  margin: 10px;
}
.modalContent {
  position: relative;
  background-color: #fff;
  outline: 0;

  border-radius: 5px;
  overflow: auto;
  max-height: 80%;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  border: 0;
}
@media (min-width: 768px) {
  .modalContent {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  }
}
.modalHeader {
  border-bottom: 1px solid #f4f4f4;
  padding: 15px;
}
.modalBody {
  position: relative;
  padding: 15px;
}
.modalFooter {
  border-top: 1px solid #f4f4f4;
  padding: 15px;
  text-align: right;
}
.modal-danger .modal-header,
.modal-danger .modal-footer {
  border-color: #c23321;
}

.closeButton {
  margin-top: -2px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; 

  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2; 
}
