node_modules/
.idea
npm-debug.log
package-lock.json
public/user*.js
public/admin*.js
public/user*.map
public/admin*.map
public/user/index.html
public/admin/index.html
.DS_Store
.happypack
src/config/dev/firebase.js
dist/
**.swp
**.swo
**.bak 
.firebase/
