node_modules/
.idea
npm-debug.log
public/user*.js
public/admin*.js
public/user*.map
public/admin*.map
public/user/index.html
public/admin/index.html
.DS_Store
.happypack
src/config/dev/firebase.js
dist/*.js
dist/*.js.map
# allow pngs
**.swp
**.swo
**.bak 
.firebase/
