rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // propagates rules down all subcollections
    match /{document=**} {
      function email() {
        return request.auth.token.email;
      }

      // require users to have a record in whitelist to continue
      function isWhitelisted() {
        return exists(/databases/$(database)/documents/whitelistedUsers/$(email()));
      }

      allow read: if isWhitelisted();
      allow write: if isWhitelisted();
    } 
  }
}
