.selectWrapper {
  bottom: 0;
  width: 100%;
  align-self: center;

  .selectCtn {
    position: relative;
    display: inline-block;
    width: 100%;

    .dropDown {
      border-radius: 3px;
      margin: 0 auto;
      padding: 10px;
      cursor: pointer;
      -webkit-appearance: none;
      background-position-x: 95%;
      width: 100%;
    }

    .angleDown {
      position: absolute;
      right: 5%;
      top: 48%;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }
}

