.alert {
  padding: .75rem 1.25rem;
  margin: 1rem;
  border: 1px solid transparent;
  border-radius: .5rem;
  opacity: 1;
  transition: opacity .15s linear;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.closeButton {
  display: inline-block;
  position: relative;
  width: 54px;
  //top: -.75rem;
  right: -1.25rem;
  //padding: .75rem 1.25rem;
  color: inherit;

  background: 0 0;
  border: 0;
  -webkit-appearance: none;

  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  overflow: visible;


  &:hover {
    cursor: pointer;
  }
}
