.paginationMenu {
  font-size: .8rem;
  width: 50%;
  min-width: 550px;
  float: right;

  .pageSizeSelect {
    width: 55px;
    label, div {

    }
  }

  .pageInput {
    width: 40px;
  }
  .smallBtn {

  }
}
