@import 'theme/_helpers';

.wrapper {
  @extend %cf;
  max-width: 35.5em;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  @include mq(s) {
    max-width: 48em;
  }
  @include mq(m) {
    max-width: 60em;
  }
  @include mq(l) {
    max-width: 71.25em;
  }
  @include mq(xl) {
    max-width: 80em;
  }
}
.wrapper + .wrapper {
  padding-top: 0;
  margin-top: ($gutter/2)*-1;
}
.wrapper .wrapper {
  margin-left: ($gutter/2)*-1;
  margin-right: ($gutter/2)*-1;
}


/*     Main     */
.main {
  clear: both;
  background: $white;
  color: $text;
  overflow: auto;
  transition: 300ms all ease-in-out;
  @include mob-cont();
}

/*     Utitlity classes     */
.mobile {
  @include mq(m) {
    display: none;
  }
}
.tablet {
  @include mq(m) {
    display: block;
  }
  @include mq(xl) {
    display: none;
  }
}
.desktop {
  display: none;
  @include mq(m) {
    display: none;
  }
  @include mq(xl) {
    display: block;
  }
}
.tablet.desktop {
  display: none;
  @include mq(m) {
    display: block;
  }
  @include mq(xl) {
    display: block;
  }
}
.hidden {
  display: none;
}
.clear {
  clear: both;
}
.center {
  text-align: center !important;
}
/* responsive videos */
.video figure {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.video iframe, .video object, .video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.image-left {
  @include mq(m) {
    float: left;
    width: 50%;
    margin: 0 20px 20px 0;
  }
}

.image-right {
  @include mq(m) {
    float: right;
    width: 50%;
    margin: 0 0 20px 20px;
  }
}


.form {
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  input {
    float: left;
    display: inline-block;
    width: 85%;
    height: 35px;
    padding: 3px 6px;
    border: 0;
    color: $text;
    @include border-radius(0);
  }
  button {
    float: left;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0 6px;
    border: 0;
    background: $blue;
    color: $white;
    @include rems(35);
  }
}
.form--stacked {
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 3px 6px;
    margin-bottom: 12px;
    border: 0;
    color: $text;
    @include border-radius(4px);
  }
  textarea {
    display: block;
    width: 100%;
    padding: 3px 6px;
    margin-bottom: 12px;
    border: 0;
    color: $text;
    @include border-radius(4px);
  }
  button {
    display: inline-block;
    margin-top: 5px;
    border: 0;
  }
}

.form-select {
  margin: 0 0 20px;
  height: 43px;
  width: 100%;
  padding: 3px 8px;
  color: $gray;
  border: 1px solid $gray;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: $white url("/images/dropdown.png") no-repeat 100% 50%;
  background-size: 44px 43px;
  @include rems(17);
  @include border-radius(4px);
}
