/* Base Application Styles */
body {
  //color: #fff;
  background: #383f4a;
  font-family: 'Raleway';
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.pull-right{
  float: right;
  right: 0px;
}

.account-menu{
  display: inline-block;
  position: relative;
}
.pointer{
  cursor: pointer;
}

// Flex Box Layouts

// Flex

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

// 2 column
.two-column-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
