@import 'theme/_helpers';

.mainContainer {
  min-width: 100%;
  min-height: 100vh;
  background: $light-gray-bg;

  main {
    width: 960px;
  }

  .content {
    background: $white;
    text-align: center;

    h1 {
      @include rems(45);
    }
    h4 {
      @include rems(18);
      margin: 2rem 0 1rem 0;
    }
    h5 {
      @include rems(12);
      text-align: center;
      margin: 1rem 0;
    }
    input {
      width: 90%;
      color: $text;
      margin: 0;
    }
    button {
      width: 90%;
    }
  }
}
