@import 'theme/_helpers';

.mainContainer {
  min-width: calc(100% - 250px);
  min-height: calc(100vh - 50px);
  background: $light-gray-bg;
  text-align: center;
  justify-content: center;
}
.content {
  background: $light-gray-bg;
  max-width: 600px;
}

.iframeWrapper {
  max-width: 100vw;
  iframe: {
    max-width: 100%;
  }
}
