@import 'theme/_helpers';

.menuCtn {
  position: relative;

  .menuDropdown {
    background-color: $nav-bg;
    position: absolute;
    top: 47px;
    margin: 0px;
    right: 0;
    display: block;
    min-width: 250px;
  }
  li {
    list-style: none;
    margin-right: 25px;
    padding: 10px;
  }

  a {
    color: $white;
  }
}
