.button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 6px;
  transition: background .5s;
  cursor: pointer;
  &:hover {
    transition: background .5s;
  }

  a, a:visited, a:hover, a:active {
    color: inherit;
  }

  &.disabled {
    cursor: not-allowed;
    a {
      cursor: not-allowed;
    }
  }
  &.small {
    padding: 3px 6px;
    margin: 5px;
  }
  &.rectangle {
    border-radius: 0;
  }
}
