@import 'theme/_helpers';

.leftNav {
}
.rightNav {
  color: black;
}
.mainNav {
  display: none;
  @include mq(m) {
    display: flex ;
    justify-content: space-between;
    width: 100%;
  }
}
.mobileNav {
  @include mq(m) {
    display: none !important;
  }
}
