@import 'theme/_helpers';

.sidebar {
  min-height: calc(100vh - 50px);
  min-width: $sidebar-width;
  width: $sidebar-width;
  box-sizing: border-box;
  background: $sidebar;
  color: $white;
  padding: 40px 20px;
  display: none; // don't show until they click on something
  flex-direction: column;
  position: absolute;

  &.show {
    display: flex;
    z-index: 9999;
  }
  @include mq(m) {
    position: relative;
    display: flex;
  }
}

.statusCtn {
  height: 175px;
  min-height: 175px;
  label {
    margin-top: 2rem;
    display: block;
  }
  select {
    color: $text;
    display: block;
    width: 100%;
    height: 40px;

  }
  button {
    margin-top: 20px;
  }
  .statusMsg {
    color: $msg;
    text-align: center;
    @include rems(14);
    span {
      color: $primary;
    }
  }
  .btnPrimary {
    display: block;
    width: 100%;
    background: $primary;
    color: $white;
    border: 0;
    padding: 7px 14px;
    border-radius: 5px;
  }
}
// the list of buttons within the sidebar
.sidebarNav {
  list-style: none;
  margin: 0 -20px;
  padding: 0;
  background: $nav-bg;

  .badge {
    display: block;
    background: $primary;
    color: $white;
    float: right;
    min-width: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    margin-top: -3px;
    font-weight: bold;
  }
  a {
    border: 1px solid $nav-border;
  }
}

.backdrop {
  background: $black;
  opacity: .8;
  top: 0;
  width: calc(100vw -  #{$sidebar-width}); 
  left: $sidebar-width; 
  height: 100vh;
  position: absolute;
  display: none;


  &.show {
    display: block;
  }
  @include mq(m) {
    display: none;
  }
}

.sbbicLogo {
  position: fixed;
  bottom: 1rem;
}
