@import 'theme/_helpers';

.dropzone {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  opacity: 1;
  transition: opacity 1s;
  color: $black;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    opacity: .9;
    transition: opacity 1s;
  }

  div {
    @include vertical-align;
  }
}
