@import 'theme/_helpers';

.brand {
  width: 250px; //should be as wide as the sidebar
  height: 50px;
  z-index: 2;
  color: $white;
  background-color: $navy; //unless it's overridden in the component

  img {
    height: 100%;
    display: block;
    margin: auto;
  }

  a {
    margin: 0;
    padding: 0;
  }
}

