@import 'theme/_helpers';

.brand {
  height: 50px;
  z-index: 2;
  color: $white;
  padding: 10px;
  background-color: $header-bg; //unless it's overridden in the component

  @include mq(m) {
    width: $sidebar-width; //should be as wide as the sidebar
  }
  
  img {
    height: 100%;
    display: block;
    //margin: auto;
  }

  a {
    margin: 0;
    padding: 0;
  }
}

