@import 'theme/_helpers';


main.userContent {
  width: 100%;
  position: relative;
  background: $user-content-bg;
  //padding: 0 10px 30px 0 ;
  border-left: 1px solid $primary;

}

.rightColumn {
  position: relative;
  max-width: 960px;
  padding: 10px 30px 30px 30px;
  text-align: center;
  margin: 0 auto;
  h1 {
    @include rems(36)
  }
}

