@import 'theme/_helpers';

.utterance {
  text-align: left;
  padding: .5rem;
  margin-bottom: 1rem;

  &:hover {
    background-color: $light-purple-gray;
  }
}
.lowConfidence {
  background-color: #fff3cd;
}
.veryLowConfidence {
  background-color: red; //TODO change
}

